/**************************/
/* GENERAL BASE STYLES */
/**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #555;
  background-color: #fff;
}

/* Containers and grids */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* Sections */
.section {
  padding: 8rem 0;
}

/* Typography */
h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  color: #222;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
  color: #333;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.7;
}

/* Headings */
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 700;
  margin-bottom: 3.2rem;
  color: #333;
}

.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 4.8rem;
  color: #333;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #cf711f;
  margin-bottom: 1.6rem;
  letter-spacing: 0.5px;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--full {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover {
  background-color: #cf711f;
}

.btn--outline {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover {
  background-color: #fdf2e9;
}

/* Utilities */
.center-text {
  text-align: center;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.margin-bottom-md {
  margin-bottom: 3.2rem;
}

.margin-bottom-lg {
  margin-bottom: 4.8rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Dark Mode */
body.dark-mode {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

body.dark-mode a {
  color: #ddd;
}

body.dark-mode a:hover {
  color: #e67e22;
}