/**************************/
/* RESPONSIVE DESIGN */
/**************************/

/* BELOW 1344px */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* BELOW 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%; 
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .grid {
    gap: 4.8rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

/* BELOW 944px */
@media (max-width: 59em) {
  html {
    font-size: 50%; 
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 6rem;
  }

  .hero-img {
    width: 60%;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }

  .nav-open .main-nav {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4rem;
  }
}

/* BELOW 704px */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-plan {
    width: 100%;
  }
}

/* BELOW 544px */
@media (max-width: 34em) {
  .grid {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 0 2rem;
  }

  .hero-img {
    width: 80%;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
